* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  margin: 1rem auto;
  width: 100%;
  max-width: 800px;
}

.container {
  display: grid;
  grid-template-columns: minmax(600px, 75%) minmax(200px, 25%);
  gap: 1rem;

  min-height: 50vh;
}

.container__game {
  grid-column: span 1;

  display: flex;

  background-color: #eee;
  border-radius: 8px;
}

.container__status {
  grid-column: span 1;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

/** Button **/
.button {
  padding: 4px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #ddd;

  color: #333;
  font-size: 1.5rem;

  transition: border-color 300ms ease-in-out,
              background-color 300ms ease-in-out,
              color 300ms ease-in-out;
}

.button:hover {
  border-color: #ddd;
  background-color: #333;
  color: #ddd;
}

.button--large {
  font-size: 3rem;
}

/** Leikur **/

.game {
  margin: auto;
  padding: 1rem;
}

.start {
  margin-bottom: 1rem;
  text-align: center;
}

.hidden {
  display: none;
}

.rounds {
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.rounds__title {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

.rounds__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.rounds__buttons .button {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.play {
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.play__title {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

.play__options {
  display: flex;
  list-style: none;
}

.play__option {
  display: flex;
  flex-direction: column;

  margin-right: 3rem;
}

.play__option:last-child {
  margin-right: 0;
}

.play__icon {
  flex: 1;
  display: flex;

  margin-bottom: 1rem;
}

.play__icon svg {
  margin: auto;
  width: 100%;
}

.result {
  font-size: 2rem;
  text-align: center;
}

.result__player,
.result__computer {
  text-transform: lowercase;
}

.result__buttons {
  margin-top: 1rem;
}

.hidden {
  display: none;
}

/** Staða **/
.games {
  padding: 1rem;
}

.games__title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.games__list {
  margin-top: 1rem;
}

.hidden {
  display: none;
}
